/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
  background-color: #303030;
  margin: 0 auto;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat','Noto Sans JP';
  color: #fff;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
a {
	color: inherit;
	text-decoration: none;
  cursor: pointer;
}
a:hover {
	filter: brightness(90%) contrast(120%);
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* initial display */
.backgroud-image {
  background: url(./img/zangi.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  position: relative;
}
.backgroud-image:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.wrapper {
  position: relative;
  width: auto;
  font-size: 25px;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  padding: 20px;
  z-index: 10;
}
.header-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 95%;
  margin: 0 auto;
}
.header-container .header-img {
  max-width: 90px;
  height: 80%;
  margin-right: 2%;
}
.header-container .header-img img {
  border-radius: 50%;
}

/* main-nav */
.main-content {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.main-nav {
  flex: 1;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-nav li {
  font-size: clamp(40px, 10vw, 80px);
}
.main-nav li a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: #fff;
}
.main-nav li a:after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  transform: translate(-101%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.4s;
}
.main-nav li a:hover::after {
  transform: translate(0, 0);
}


/* sub-nav */
.sub-nav {
  flex: 4;
  height: 100vh;
  display: none;
}
.sub-nav.active {
  display: flex;
  align-items: center;
  animation-name: fadeLeftAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity:0;
}
@keyframes fadeLeftAnime{
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.sub-nav-item {
  width: 90%;
}
.sub-nav-item .member-item {
  display: grid;
	gap: 0;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.sub-nav-item p {
  font-size: 40px;
  font-weight: 600;
}
.sub-nav-item h2 {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 25px;
}

.sub-nav-item .top-message,
.sub-nav-item .about-message,
.sub-nav-item .company-name {
  font-size: 60px;
  font-weight: bold;
}
.sub-nav-item .content-item {
  margin-left: 2.5%;
}
.sub-nav-item .about-list li {
  font-size: 40px;
  font-weight: bold;
}
.sub-nav-item .about-list li:before {
  content:  "";
  background-image: url('/img/zangies-logo.png');
  width:  30px;
  height:  30px;
  display:  inline-block;
  border-radius:  50%;
  margin-right: 20px;
}
.sub-nav.top {
  text-align: center;
}
.sub-nav.top .top-company-name{
  font-size: 100px;
}

.member-img img {
  border-radius: 50%;
}
.member-item h3 {
  font-size: 20px;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 10px 20px;
  z-index: 10;
  width: 100%;
}
footer .copylight {
  display: flex;
  justify-content: flex-end;
}

/* about */
.about-content {
  position: relative;
  width: min(95%, 1200px);
  padding: 150px 0 100px;
  margin: 0 auto;
  animation-name:fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
}
@keyframes fadeUpAnime{
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.about-content h2 {
  font-size: 90px;
  font-weight: 600;
}
.about-item {
  margin: 30px 3% 30px;
}
.about-item .about-message > p {
  font-size: 50px;
  text-align: center;
  font-weight: 100;
  margin: 50px 0;
}
.about-item .about-message .about-message-text {
  font-size: 30px;
  font-weight: 600;
}
.about-job h3 {
  border-left: 10px solid #fff;
  padding-left: 15px;
  font-size: 40px;
  font-weight: 400;
}
.about-job-article {
  margin: 30px 0 50px;
}
.about-job-article h4 {
  margin: 30px 0;
  font-size: 30px;
  font-weight: 400;
}
.job-img-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
}
.article-img img {
  margin: 0 auto;
}